# Generate with: npx auth secret
AUTH_SECRET=11f2ceb69924cc9af6279916ddb535d4d96b8d0160d7c62632a9b61f951e5b2a

# From your Microsoft Entra ID (Azure AD) app registration
AUTH_MICROSOFT_ENTRA_ID_ID=9b430731-8b4f-44b7-b81d-d6fef35711d5
AUTH_MICROSOFT_ENTRA_ID_SECRET=94c04a2c-d8df-4081-baa4-f212e8907738
# "Personal Microsoft accounts only" app registration -> consumers endpoint
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/consumers/v2.0
